<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
<thead>
<tr>
    <th>Date of signing</th>
    <th>Company name</th>
    <th>Employee name</th>
    <th>Due date</th>
    <th>Action</th>
</tr>
</thead>
    <tr th:each="temp : ${files}">
        <td th:text="${temp.getDateOfSigning()}"/>
        <td th:text="${temp.getCompanyName()}"/>
        <td th:text="${temp.getEmployeeData().getLastName()}"/>
        <td th:text="${temp.getDueDate()}"/>
        <td>
        <a th:href="@{/files/{fileId}(fileId=${temp.getFileId()})}">More</a>
        </td>
    </tr>

</table>

</body>
</html>