<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <p th:text="${singleFile.getFileId()}"></p>
    <p th:text="${singleFile.getDateOfSigning()}"></p>
    <p th:text="${singleFile.getCompanyName()}"></p>
    <p th:text="${singleFile.getContent()}"></p>
    <p th:text="${singleFile.getDueDate()}"></p>
    <p th:text="${singleFile.getEmployeeData().getLastName()}"></p>

</div>
<a th:href="@{/}">Back</a>
</body>
</html>